body {
    font-family: Arial, sans-serif;
}

h1 {
    font-weight: bold;
}

.nama {
    background-color: #0000ff;
    color: #ffff00;
    font-size: 32px;
    font-weight: bold;
    padding: 5px;
}

#nim {
    color: #0000ff;
    font-size: 28px;
    font-weight: bold;
}

.warna-biru {
    background-color: #0000ff;
    color: #ffff00;
    font-style: italic;
    text-transform: lowercase;
    padding: 0 3px;
}

.warna-kuning {
    background-color: #ffff00;
    font-style: italic;
    padding: 0 3px;
}

a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}